a {
    text-decoration: none;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

* {
    box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.mx-auto {
    margin: 0 auto;
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 100%;
    }
}

.grid-margin {
    margin-bottom: 2.5rem;
}

.stretch-card {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.stretch-card > .card {
    width: 100%;
    min-width: 50%;
}

.card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    border: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 20px;
}

* {
    box-sizing: border-box;
}

.card .card-body {
    padding: 1.25rem 1.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table, .jsgrid .jsgrid-table {
    margin-bottom: 0;
}

.table, .jsgrid .jsgrid-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}